<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>add Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1> <%= user.fullName %> , Add Blog Here . .</h1>
    <form action="/blog/addblog" method="post"  enctype="multipart/form-data" class="container">
        <div class="mb-3">
          <label for="title" class="form-label"> Title : </label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">add title here . . </div>
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body : </label>
          <textarea name="body" class="form-control" id="exampleInputPassword1"></textarea>
          <div id="emailHelp" class="form-text">leave comments abot title . . </div>
        </div>
        <div class="mb-3">
            <label for="coverImage" class="form-label">Blog Cover : </label>
            <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">upload Cover Image here  . . </div>
          </div>
        <div class="mb-3 form-check">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </form>
   
    <%- include("./partials/script") %>
  </body>
</html>
