<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>login</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <form  action="/users/login" method="post">
      <h1>login Page</h1>
      <div class="row g-3 align-items-center mt3">
        <div class="col-auto">
          <label for="email" class="col-form-label">User Email :</label>
        </div>
        <div class="col-auto">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            aria-describedby="passwordHelpInline"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center mt3">
        <div class="col-auto">
          <label for="password" class="col-form-label">Password : </label>
        </div>
        <div class="col-auto">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            aria-describedby="passwordHelpInline"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center mt3">
        <div class="col-auto">
          <input
            type="submit"
            value="login"
            class="form-control"
            aria-describedby="passwordHelpInline"
          />
        </div>
      </div>
    </form>
    <%- include("./partials/script") %>
  </body>
</html>